<div
  class="flex items-start px-6 py-2 text-sm hover-target hover:bg-gray-50 message"
  role="listitem"
>
  <figure class="w-10 h-10 rounded overflow-hidden mr-3">
    <img
      class="message__user-avatar"
      src="https://gravatar.com/avatar/96c332a96737c6668906232e39cb16ef?s=200"
      alt=""
    />
  </figure>

  <div class="flex-1">
    <h5 class="text-sm">
      <a
        href="#"
        class="message__user-name text-black font-bold no-underline hover:underline"
      >
        Lisa Huang-North
      </a>
      <span class="sr-only">at</span>
      <time class="message__timestamp text-gray-500 text-xs font-normal">
        {{format-timestamp "05-01-2019"}}
      </time>
    </h5>

    <p class="message__body text-black leading-normal">
      Would you like to join my professional network?
    </p>
  </div>

  <button
    class="message__delete-button border-transparent hover:border-red-300 show-on-hover hover:bg-red-100 border-1 rounded mb-1 pl-3 pr-2 py-1"
    aria-label="permanently delete this message"
  >
    🗑
  </button>
</div>
